.main{
    display: flex;
    background-image: url('../../../assets/Rectangle.svg');
    padding: 60px 0px 60px 120px;
    height: 100vh;
    overflow: hidden;


}



.form{
    
    flex-grow:1;
    /* height: 86vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    box-shadow: 3px 3px 1px rgb(196, 196, 196) ;

    h2{
        padding: 40px;
        font-weight: 500;
    }

   

}

.top{
    width: 90%;
    /* height: 50px; */
    border-bottom: 2px solid var(--lightGray-bg-color);
    padding: 2px;
    position: relative;
    h3{
        position: absolute;
        bottom: 5px;
        left: 5px;

    }
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    /* background-color: var(--lightGray-bg-color); */

    input{
        width: 300px;
        height: 40px;
        border: 2px solid var(--lightGray-bg-color);
        background-color: #ffffff;
        border-radius: 5px;
        padding: 10px;
    }
}

.background{
    /* background-image: url('../../../assets/send-mail.svg'); */
    /* height: 100vh; */
    /* background-size:cover; 
    background-position: center;  */
    flex-grow: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    color: var(--textGrey);


}
.button {
    letter-spacing: 1px;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 120px;
    Height: 41px;
    border-radius: 40px;
    padding: 20px;
    background-color: var(--primary-color);
    transition: filter 0.1s;
    cursor: pointer;
    font-weight: 500;
    button{
        color: #fff;
        background-color: var(--primary-color);
    }
 
    
}

.button:hover {
    filter: brightness(90%);
}

/* .forgotPassword{
    position: relative;
    display: flex;
    width: 140px;
    align-items: end;
    justify-content: end;
    a{
        position: absolute;
        right: 5px;
    }
    text-align: end;

} */







.backgroundImg{

}
