.main{
    position: absolute;
    bottom:  -20px;
    border: 1px solid rgb(209, 210, 230);
    z-index: 20px;
    width: 140px;
    height: 20px;
    border-radius: 3px;
    background-color: rgb(227, 233, 243);
    color: rgb(166, 184, 212);

}