.mainContainer{
    padding-top: 5px;
    
    
}

.main{
    padding: 10px;
    margin-top: 15px;

    background-color: var(--lightGray-bg-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 94vh;
    gap: 14px;
    /* overflow: auto; */
}

.emailList{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    gap: 10px;
    /* height: 800px; */
    overflow: auto;
    overflow-x: hidden;
    

    border-radius: 10px;
    /* background-color: crimson; */
}



  /* עיצוב פס הגלילה */
  .emailList::-webkit-scrollbar {
    width: 5px; /* רוחב פס הגלילה */
  }
  
  .emailList::-webkit-scrollbar-track {
    background: #f1f1f1; /* צבע רקע של פס הגלילה */
  }
  
  .emailList::-webkit-scrollbar-thumb {
    background: #888; /* צבע פס הגלילה עצמו */
  }
  
  .emailList::-webkit-scrollbar-thumb {
    background: var(--primary-color); /* צבע פס הגלילה בעת העברת העכבר עליו */
  }

.header{
    display: flex;
    align-items: center;
    Width: 100%;
    Height:70px;
    border-bottom:  1px solid rgba(184, 184, 184, 0.486);
    

}

.box{
    border-radius: 10px;
}


.active{

    background-color: #fff;
    
}

.noResults{

    /* background-color: var(--lightGray-bg-color); */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    Width: 100%;
    Height: 60px;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
}
  
