.main {
    letter-spacing: 1px;
    font-size: small;
    display: flex;
    align-items: center;
    gap: 10px;
    Width: 100px;
    Height: 41px;
    
    border-radius: 10px;
    padding: 20px;

    background-color: var(--primary-color);
    transition: filter 0.1s;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
 
    
}

.main:hover {
    filter: brightness(90%);
}

.main svg {
    font-size: 16px;
    color: #fff;
  
}