.main {
    /* background-color: var(--lightGray-bg-color); */
    position: relative;
    display: flex;
    align-items: center;

    Width: 100%;
    Height: 60px;
    gap: 10px;

    border-radius: 8px;
    padding: 10px;
}

h3{
    color: #000;
    font-weight: 600;
    font-size: 15px ;
    letter-spacing: 0px;
}


.main:hover {
    box-shadow: 0px 3px 6px rgb(212, 210, 210);
}

.envelope{
    color: var(--primary-color);
}




.notifications {
    /* background-color: #fff; */
    

}

/* .main:active {
    
    box-shadow: none;
} */



.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}


.middle {
    flex-grow: 1;
}

.subject {
    color: var(--textGrey);
    font-size: small;
    font-weight: 400;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px
}


.time {
    color: var(--textGrey);
    font-size: 10px;
    font-weight: 600;

}


.isFavorite {
    color: var(--primary-color);

    svg {
        color: var(--primary-color);
    }
}

.notFavorite {
    color: var(--gray-bg-color);


}

/* .notifications {
    color: var(--gray-bg-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
} */



.main svg {
    font-size: 15px;

}