.main {
    background-color: var(--primary-color);
    /* padding: 10px; */
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    width: fit-content;
    display: flex;
    min-width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 4px rgb(212, 210, 210);
}

