.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;
    background-color: rgb(252, 252, 252);
    svg {
        color: var(--gray-bg-color);
        font-size: 24px;
    }
}

.ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.li {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100%;
    display: flex;
    border-right: 3px solid transparent;
    justify-content: center;
    cursor: pointer;
}

.box:hover {
    border-right-color: var(--primary-color);
    svg {
        color: var(--primary-color)
    }
    :nth-child(1) {
        background-color: var(--lightGray-bg-color);
    }

}

.active {
    border-right-color: var(--primary-color);
    svg {
        color: var(--primary-color);

    }
    :nth-child(1) {
        background-color: var(--lightGreen-bg-color);
    }
}



.avatar {
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.bell {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}


.notifications {
    padding: 15px 20px 15px 10px ;
    animation: grow-shrink 3s linear infinite;
    svg {
        color: var(--primary-color);
    }
}

.notifications:hover {
    /* animation: rotateAndScale 2s 3; */    
}

.sumNotifications {
    position: absolute;
    top: 10px;
    right: 15px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGreen-bg-color);
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 600;
    z-index: 2;
}


@keyframes grow-shrink {
    0% {
      transform: rotate(0deg) scale(1);
    }
    30% {
      transform: rotate(0deg) scale(1);
    }
    40% {
      transform: rotate(20deg) scale(1.1);
    }
    50% {
      transform: rotate(-20deg) scale(1.07);
    }
    60% {
      transform: rotate(20deg) scale(1.1);
    }
    70% {
      transform: rotate(0deg) scale(1);
    }
    90% {
      transform: rotate(0deg) scale(1);
    }
  }

/* @keyframes rotateAndScale {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(30deg) scale(0.8);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
} */



