.main {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;
    background-color: rgb(252, 252, 252);
    

    svg {
        color: var(--gray-bg-color);
        font-size: 24px;
    }

}

.ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    /* padding: 20px; */
}

.li {
    /* padding: 5px 25px 5px 25px; */
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100%;
    display: flex;
    border-right: 3px solid transparent;
    justify-content: center;
}

.box:hover {
    border-right-color: var(--primary-color);
    svg{
        color: var(--primary-color)
    }
    :nth-child(1){
        background-color: var(--lightGray-bg-color);
    }


}


.avatar{
   
    margin: 5px;
}





.active {
    border-right-color: var(--primary-color);
    svg {
        color: var(--primary-color);
        
    }
    :nth-child(1){
        background-color: var(--lightGreen-bg-color);
    }

}


