.main {
    display: flex;
    align-items: center;
    gap: 20px;
    Width: 100%;
    Height: 50px;
    
    border-radius: 10px;
    padding: 20px;

    background-color: var(--primary-color);
    transition: filter 0.1s;

    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
    
}

.main:hover {
    filter: brightness(90%);
}

.main svg {
    font-size: 16px;
    color: #fff;
    /* padding: 10px; */
}