
.main{
    width:65px;
    height: 31px;
    background-color: rgba(255, 255, 255, 1);
    color: rgb(67, 70, 73);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 12px;

}

.main svg{
    font-size: 10px;
    color: rgba(214, 220, 228, 1);
}
