.main {
    width: 100%;
    height: 30vh;
    background-color: #fff;
    padding: 20px;
    /* border: #bcd617 1px solid; */
    
   
   
}

.editorBox {
    border: 1px solid #cdced9;
    padding: 0px;
    margin: 0px;
    color: hsl(225, 14%, 83%);
    border-radius: 8px;
    /* width: 100%; */
    height: 15vh;
    position: relative;
    /* max-height: 40vh; */
    
}




.input {
    padding: 20px;
    border: none;
    outline: none;
    font-size: small;
    border-radius: 10px;
    width: 98%;
    height: 13vh;
    overflow: auto;
    color: #000;
    
    z-index: 0;
}



  /* עיצוב פס הגלילה */
  .input::-webkit-scrollbar {
    width: 8px; /* רוחב פס הגלילה */
  }
  
  .input::-webkit-scrollbar-track {
    background: #f1f1f1; /* צבע רקע של פס הגלילה */
  }
  
  .input::-webkit-scrollbar-thumb {
    background: var(--primary-color); /* צבע פס הגלילה עצמו */

   
  }
  
  .input::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color); /* צבע פס הגלילה בעת העברת העכבר עליו */
  }




.input::placeholder {
    color: #1746d6;
}



.formatting {
    /* border: 1px solid #cdced9; */
    display: flex;
    /* justify-content: space-between; */
    /* padding: 10px; */
    /* gap: 10px; */
    color: #cdd0d9;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 25%;
    border-top: 1px solid #cdced9;
    /* רק בורדר למעלה בצבע שחור עם רוחב של 2 פיקסלים */

}

.fontFormats {
    display: flex;
    justify-content: space-evenly;
    border-right: 1px solid #cdced9;
    padding: 10px;
    gap: 10px;
    color: #cdd0d9;
    z-index: 1;
    flex-grow: 1;


}


.textFormats {

    display: flex;
    /* justify-content: space-between; */
    padding: 10px;
    gap: 20px;
    color: #cdd0d9;
    flex-grow: 3;


}





.active {
    color: var(--primary-color);
}



/* svg:hover {
    color: var(--primary-color);
   
} */


.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;

}



.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* border: #1746d6 1px solid; */
    svg{
        color: var(--text-color);
    }


}

.sendButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 5px; */
    gap: 10px;

}