.main {
    background-color: var(--primary-color);
    /* padding: 15px; */
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    Width: 100px;
    Height: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: small;

}

.main:hover {
    filter: brightness(90%);
}

.main svg {
    font-size: 16px;
    color: #fff;
  
}