.main {
    display: flex;
    position: relative;
}

.rectangle {
    height: 20px;
    width: 80px;
  /* background-color: rgba(253, 94, 94, 1); */
  border-radius: 5px 0px 0px 5px;
  position: relative;
}

/* .triangle {
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 15px solid rgba(253, 94, 94, 1);
    border-radius: 0 0 7px 0;

} */


.triangle {
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 2px;
    left: 72.2px;
    top: 2.45px;
    /* background-color: rgba(253, 94, 94, 1); */
    transform: rotate(45deg);
}



.colors{
    position: absolute;
    bottom:  -20px;
    border: 1px solid rgb(209, 210, 230);
    z-index: 1px;
    width: 140px;
    height: 20px;
    border-radius: 3px;
    background-color: rgb(227, 233, 243);
    color: rgb(166, 184, 212);

}

.x{
    position: absolute;
    right: 5px;
    font-size: 15px;
    z-index: 2;

}