.main{
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* justify-content: space-between; */
    /* width: 50%; */
    /* height: 100vh; */
    /* border: 1px solid black; */

}