.main{

    
    padding: 10px;
    flex-wrap: 1;
    border-bottom: #DEE1E6 1px solid;

}
.msgLi{
    padding: 10px;
}


.list{
    max-height: 40vh;
    overflow: auto;
}


  /* עיצוב פס הגלילה */
  .list::-webkit-scrollbar {
    width: 5px; /* רוחב פס הגלילה */
  }
  
  .list::-webkit-scrollbar-track {
    background: #f1f1f1; /* צבע רקע של פס הגלילה */
  }
  
  .list::-webkit-scrollbar-thumb {
    background: #888; /* צבע פס הגלילה עצמו */
  }
  
  .list::-webkit-scrollbar-thumb {
    background: var(--primary-color); /* צבע פס הגלילה בעת העברת העכבר עליו */
  }
  

  .loading{
    display: flex;
    justify-content:  center;
    align-items: center;
  }


  .spinner {
    border: 4px solid rgba(253, 147, 98, 0.1);
    border-left-color: var(--primary-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin-full 1s linear infinite;
  }
  
  @keyframes spin-full {
    to {
       transform: rotate(360deg);
    }
  }
  